{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "IOT"
  },
  "host": "iot.taichuan.net:80",
  "schemes": [
    "http",
    "https"
  ],
  "paths": {
    "/v1/Device/SysTest": {
      "post": {
        "tags": [
          "Application"
        ],
        "summary": "设备测试\r\n将自定义数据发送到应用下的设备，设备收之后无条件将原始数据返回",
        "operationId": "Application_SysTest",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "设备机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "data",
            "in": "body",
            "description": "数据内容",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StringData"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[String]"
            }
          }
        }
      }
    },
    "/v1/Device/SysCtrl": {
      "post": {
        "tags": [
          "Application"
        ],
        "summary": "设备系统控制\r\n控制应用下的设备的开关和启用禁用",
        "operationId": "Application_SysCtrl",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "设备机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "data",
            "in": "body",
            "description": "控制内容",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SysCtrlSetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/Application/BindDevice": {
      "post": {
        "tags": [
          "Application"
        ],
        "summary": "绑定设备到应用下 \r\n设备绑定到应用之后，才可以使用机身号与硬件码登录连接到硬件平台",
        "operationId": "Application_BindDevice",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "设备机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "code",
            "in": "query",
            "description": "设备硬件码",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/Application/GetDevice": {
      "get": {
        "tags": [
          "Application"
        ],
        "summary": "通过机身号获取设备\r\n返回应用下单个设备的基本信息",
        "operationId": "Application_GetDevice",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "设备机身号",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[DeviceInfo]"
            }
          }
        }
      }
    },
    "/v1/Application/UnbindDevice": {
      "delete": {
        "tags": [
          "Application"
        ],
        "summary": "通过机身号解绑设备\r\n解绑之后的设备，可以重新绑定到其它应用之下",
        "operationId": "Application_UnbindDevice",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "设备机身号",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/Application/GetDevicePage": {
      "get": {
        "tags": [
          "Application"
        ],
        "summary": "分页获取设备\r\n返回应用下的多个设备的基本信息",
        "operationId": "Application_GetDevicePage",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "pageIndex",
            "in": "query",
            "description": "页面索引",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "页面大小",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "排序字符串",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Page[DeviceInfo]]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/GetDeviceList": {
      "get": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "获取中控机下的所有设备列表",
        "operationId": "CtrlMachine_GetDeviceList",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "data.timeout",
            "in": "query",
            "description": "超时的秒数\r\n如果在Timeout秒之后才收到数据则不处理",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[CMDeivceData]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/GetSceneList": {
      "get": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "获取中控机的设定的所有情景模式",
        "operationId": "CtrlMachine_GetSceneList",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "data.timeout",
            "in": "query",
            "description": "超时的秒数\r\n如果在Timeout秒之后才收到数据则不处理",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[CMSceneInfo[]]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/StartScene": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "启动中控机的情景模式",
        "operationId": "CtrlMachine_StartScene",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "description": "数据",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMSceneSetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/SetCustomTwo": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "控制自定义智能设备 2",
        "operationId": "CtrlMachine_SetCustomTwo",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "description": "CMCustomTwoBody 实体",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMCustomTwoSetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/SetLightControl": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "控制灯控开关",
        "operationId": "CtrlMachine_SetLightControl",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "description": "CMCustomTwoBody 实体",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMLightControlSetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/SetDimmer": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "控制调光开关",
        "operationId": "CtrlMachine_SetDimmer",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "description": "CMDimmerBody 实体",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMDimmerSetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/SetAirSwitch": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "控制空调开关",
        "operationId": "CtrlMachine_SetAirSwitch",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "description": "CMAirSwitchBody 实体",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMAirSwitchSetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/SetOutlet": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "控制插座",
        "operationId": "CtrlMachine_SetOutlet",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "description": "CMOutletBody 实体",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMOutletSetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/SetCurtain": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "控制窗帘",
        "operationId": "CtrlMachine_SetCurtain",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "description": "CMCurtainBody 实体",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMCurtainSetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/SetUrgentButton": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "控制紧急按钮",
        "operationId": "CtrlMachine_SetUrgentButton",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "description": "CMSecurityBody 实体",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMSecuritySetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/SetInfraredAlarm": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "控制红外报警",
        "operationId": "CtrlMachine_SetInfraredAlarm",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "description": "CMSecurityBody 实体",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMSecuritySetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/SetSmokeAlarm": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "控制烟雾报警",
        "operationId": "CtrlMachine_SetSmokeAlarm",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "description": "CMSecurityBody 实体",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMSecuritySetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/SetGasAlarm": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "控制瓦斯报警",
        "operationId": "CtrlMachine_SetGasAlarm",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "description": "CMSecurityBody 实体",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMSecuritySetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/SetDoorAlarm": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "控制门磁报警",
        "operationId": "CtrlMachine_SetDoorAlarm",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "description": "CMSecurityBody 实体",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMSecuritySetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/SetWindowAlarm": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "控制窗磁报警",
        "operationId": "CtrlMachine_SetWindowAlarm",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "description": "CMSecurityBody 实体",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMSecuritySetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/SetGeneralAlarm": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "控制通用报警",
        "operationId": "CtrlMachine_SetGeneralAlarm",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "description": "CMSecurityBody 实体",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMSecuritySetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/SetWirelessInfrared": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "控制无线红外设备",
        "operationId": "CtrlMachine_SetWirelessInfrared",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "description": "CMSecurityBody 实体",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMSecuritySetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/SetSingleLight": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "控制单火线无线灯控开关",
        "operationId": "CtrlMachine_SetSingleLight",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "description": "CMTVControllerBody 实体",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMSingleLightSetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/SetLed": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "恒亦明LED控制器",
        "operationId": "CtrlMachine_SetLed",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "description": "CMLedBody 实体",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMLedSetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/SetCentralAir": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "控制中央空调",
        "operationId": "CtrlMachine_SetCentralAir",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "description": "CMCentralAir 实体",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMCentralAirSetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/SetFreshAir": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "控制新风系统设备",
        "operationId": "CtrlMachine_SetFreshAir",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "description": "CMFreshAirSetting 实体",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMFreshAirSetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/SetBLFreshAir": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "控制百朗新风系统设备",
        "operationId": "CtrlMachine_SetBLFreshAir",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "description": "CMBLFreshAirSetting 实体",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMBLFreshAirSetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/SetTouchLight": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "控制触摸灯控设备",
        "operationId": "CtrlMachine_SetTouchLight",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "description": "CMTouchLightSetting 实体",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMTouchLightSetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/SmartLockOpen": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "智能门锁一键开门",
        "operationId": "CtrlMachine_SmartLockOpen",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "description": "控制数据",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMCtrlRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/SetSmartLock": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "智能门锁-钥匙管理",
        "operationId": "CtrlMachine_SetSmartLock",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "description": "CMSmartLockSetting 实体",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMSmartLockSetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/GetSmartLockList": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "智能门锁-获取钥匙列表",
        "operationId": "CtrlMachine_GetSmartLockList",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "description": "请求数据",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMCtrlRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[CMSmartLockBody[]]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/SetTempPassWord": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "智能门锁-临时密码管理",
        "operationId": "CtrlMachine_SetTempPassWord",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "description": "CMTempPassWordSetting2 实体",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMTempPassWordSetting2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/GetTempPassWordList": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "智能门锁-获取临时密码列表",
        "operationId": "CtrlMachine_GetTempPassWordList",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "description": "CMCtrlRequest 实体",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMCtrlRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[CMTempPassWordBody[]]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/SetFan": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "控制风扇设备",
        "operationId": "CtrlMachine_SetFan",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "description": "CMFanBody 实体",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMFanSetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/SetAcoustoAlarm": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "控制声光报警器",
        "operationId": "CtrlMachine_SetAcoustoAlarm",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "description": "CMSecurityBody 实体",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMSecuritySetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/SetDoorbell": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "控制无线门铃",
        "operationId": "CtrlMachine_SetDoorbell",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMDoorbellSetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/SetImmunity": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "控制免扰开关",
        "operationId": "CtrlMachine_SetImmunity",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "description": "CMImmunityBody 实体",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMImmunitySetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/SetLampMaster": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "控制灯控总开关",
        "operationId": "CtrlMachine_SetLampMaster",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "description": "CMLampMasterBody 实体",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMLampMasterSetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/GetHub10A": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "设置中兴德舜地暖",
        "operationId": "CtrlMachine_GetHub10A",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "data",
            "in": "body",
            "description": "CMZTEGroundHeatingSetting 实体",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMZTEGroundHeatingSetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/GetInfAirKeys": {
      "get": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "获取红外空调按键学习状态",
        "operationId": "CtrlMachine_GetInfAirKeys",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "data.timeout",
            "in": "query",
            "description": "超时的秒数\r\n如果在Timeout秒之后才收到数据则不处理",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "data.id",
            "in": "query",
            "description": "中控机的设备id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[CMInfAirKeyState[]]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/LearnInfAirKey": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "学习红外空调按键",
        "operationId": "CtrlMachine_LearnInfAirKey",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "data",
            "in": "body",
            "description": "空调控制数据实体",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMInfAirKeyCtrl"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/SetInfAir": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "控制红外空调按键",
        "operationId": "CtrlMachine_SetInfAir",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "data",
            "in": "body",
            "description": "空调控制数据实体",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMInfAirKeyCtrl"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/GetInfTvKeys": {
      "get": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "获取红外电视按键学习状态",
        "operationId": "CtrlMachine_GetInfTvKeys",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "data.timeout",
            "in": "query",
            "description": "超时的秒数\r\n如果在Timeout秒之后才收到数据则不处理",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "data.id",
            "in": "query",
            "description": "中控机的设备id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[CMInfTvKeyState[]]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/LearnInfTvKey": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "学习电视按键",
        "operationId": "CtrlMachine_LearnInfTvKey",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "data",
            "in": "body",
            "description": "电视控制数据实体",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMInfTvKeyCtrl"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/SetInfTv": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "控制红外电视按键",
        "operationId": "CtrlMachine_SetInfTv",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "data",
            "in": "body",
            "description": "电视控制数据实体",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMInfTvKeyCtrl"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/GetInfTopboxKeys": {
      "get": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "获取红外机顶盒按键学习状态",
        "operationId": "CtrlMachine_GetInfTopboxKeys",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "data.timeout",
            "in": "query",
            "description": "超时的秒数\r\n如果在Timeout秒之后才收到数据则不处理",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "data.id",
            "in": "query",
            "description": "中控机的设备id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[CMInfTopboxKeyState[]]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/LearnInfTopboxKey": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "学习机顶盒按键",
        "operationId": "CtrlMachine_LearnInfTopboxKey",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "data",
            "in": "body",
            "description": "机顶盒控制数据实体",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMInfTopboxKeyCtrl"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/SetInfTopbox": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "控制红外机顶盒按键",
        "operationId": "CtrlMachine_SetInfTopbox",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "data",
            "in": "body",
            "description": "机顶盒控制数据实体",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMInfTopboxKeyCtrl"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/GetInfDvdKeys": {
      "get": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "获取红外背景音乐按键学习状态",
        "operationId": "CtrlMachine_GetInfDvdKeys",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "data.timeout",
            "in": "query",
            "description": "超时的秒数\r\n如果在Timeout秒之后才收到数据则不处理",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "data.id",
            "in": "query",
            "description": "中控机的设备id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[CMInfDvdKeyState[]]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/LearnInfDvdKey": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "学习背景音乐按键",
        "operationId": "CtrlMachine_LearnInfDvdKey",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "data",
            "in": "body",
            "description": "背景音乐控制数据实体",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMInfDvdKeyCtrl"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/SetInfDvd": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "控制红外背景音乐按键",
        "operationId": "CtrlMachine_SetInfDvd",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "data",
            "in": "body",
            "description": "背景音乐控制数据实体",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMInfDvdKeyCtrl"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/GetInfTeleOneKeys": {
      "get": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "获取红外 [自定义遥控器1] 按键学习状态",
        "operationId": "CtrlMachine_GetInfTeleOneKeys",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "data.timeout",
            "in": "query",
            "description": "超时的秒数\r\n如果在Timeout秒之后才收到数据则不处理",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "data.id",
            "in": "query",
            "description": "中控机的设备id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[CMInfTeleOneKeyState[]]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/LearnInfTeleOneKey": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "学习 [自定义遥控器1] 按键",
        "operationId": "CtrlMachine_LearnInfTeleOneKey",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "data",
            "in": "body",
            "description": "[自定义遥控器1] 控制数据实体",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMInfTeleOneKeyCtrl"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/SetInfTeleOne": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "控制红外 [自定义遥控器1] 按键",
        "operationId": "CtrlMachine_SetInfTeleOne",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "data",
            "in": "body",
            "description": "[自定义遥控器1] 控制数据实体",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMInfTeleOneKeyCtrl"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/GetInfTeleTwoKeys": {
      "get": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "获取红外 [自定义遥控器2] 按键学习状态",
        "operationId": "CtrlMachine_GetInfTeleTwoKeys",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "data.timeout",
            "in": "query",
            "description": "超时的秒数\r\n如果在Timeout秒之后才收到数据则不处理",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "data.id",
            "in": "query",
            "description": "中控机的设备id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[CMInfTeleTwoKeyState[]]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/LearnInfTeleTwoKey": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "学习 [自定义遥控器2] 按键",
        "operationId": "CtrlMachine_LearnInfTeleTwoKey",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "data",
            "in": "body",
            "description": "[自定义遥控器2] 控制数据实体",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMInfTeleTwoKeyCtrl"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/SetInfTeleTwo": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "控制红外 [自定义遥控器2] 按键",
        "operationId": "CtrlMachine_SetInfTeleTwo",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "data",
            "in": "body",
            "description": "[自定义遥控器2] 控制数据实体",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMInfTeleTwoKeyCtrl"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/SetDaiKinAir": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "控制大金中央空调",
        "operationId": "CtrlMachine_SetDaiKinAir",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "data",
            "in": "body",
            "description": "CMDaiKinAirSetting 实体",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMDaiKinAirSetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/CM_SetAirSwitch3": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "设置空调开关(3路)",
        "operationId": "CtrlMachine_CM_SetAirSwitch3",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "data",
            "in": "body",
            "description": "CMAirSwitch3Setting 实体",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMAirSwitch3Setting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/CM_SetGroundHeating": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "设置地暧开关(1路)",
        "operationId": "CtrlMachine_CM_SetGroundHeating",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "data",
            "in": "body",
            "description": "CMGroundHeatingSwitchSetting 实体",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMGroundHeatingSwitchSetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/SetZTEFanCoil": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "设置中兴德舜风盘",
        "operationId": "CtrlMachine_SetZTEFanCoil",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "data",
            "in": "body",
            "description": "CMZTEFanCoilSetting 实体",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMZTEFanCoilSetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/SetZTEAir": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "设置中兴德舜空调",
        "operationId": "CtrlMachine_SetZTEAir",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "data",
            "in": "body",
            "description": "CMZTEAirSetting 实体",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMZTEAirSetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/SetZTEGroundHeating": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "设置中兴德舜地暖",
        "operationId": "CtrlMachine_SetZTEGroundHeating",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "data",
            "in": "body",
            "description": "CMZTEGroundHeatingSetting 实体",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMZTEGroundHeatingSetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/GetHubPower": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "10A/16A计量插座 - 查询当前功率",
        "operationId": "CtrlMachine_GetHubPower",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "description": "控制数据",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMHubPower"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Int16]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/SetHub10ASwitch": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "10A计量插座 - 设置开关",
        "operationId": "CtrlMachine_SetHub10ASwitch",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "description": "CMCustomTwoBody 实体",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMOutletSetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/SetHub16ASwitch": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "16A计量插座 - 设置开关",
        "operationId": "CtrlMachine_SetHub16ASwitch",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "description": "CMCustomTwoBody 实体",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMOutletSetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/SetMideaCentralAir": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "美的中央空调控制",
        "operationId": "CtrlMachine_SetMideaCentralAir",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "data",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMMideaCentralAirSetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/SetBackgroundMusic": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "控制背景音乐设备",
        "operationId": "CtrlMachine_SetBackgroundMusic",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "description": "CMBackgroundMusicSetting 实体",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMBackgroundMusicSetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/SetHitachiCentralAir": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "日立中央空调控制",
        "operationId": "CtrlMachine_SetHitachiCentralAir",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "description": "CMHitachiCentralAirSetting 实体",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMHitachiCentralAirSetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/SetYiupFreshAir": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "意爱浦新风控制",
        "operationId": "CtrlMachine_SetYiupFreshAir",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "description": "CMYiupFreshAirSetting 实体",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMYiupFreshAirSetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/SetHesGroundHeatingControl": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "合生-地暖控制",
        "operationId": "CtrlMachine_SetHesGroundHeatingControl",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "description": "CMHesGroundHeatingControl 实体",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMHesGroundHeatingControl"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/SetHesGroundHeatingSetting": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "合生-地暖设置",
        "operationId": "CtrlMachine_SetHesGroundHeatingSetting",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "description": "CMHesGroundHeatingSetting 实体",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMHesGroundHeatingSetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/CtrlMachine/SetHesSmartLockControl": {
      "post": {
        "tags": [
          "CtrlMachine"
        ],
        "summary": "合生门锁一键开锁",
        "operationId": "CtrlMachine_SetHesSmartLockControl",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "中控机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "description": "CMHesSmartLockControl 实体",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMHesSmartLockControl"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/EntranceMachine/Send": {
      "post": {
        "tags": [
          "EntranceMachine"
        ],
        "summary": "发送自定义数据到应用下的门口机\r\n并等待门口机的回执\r\n此接口用于扩展开发门口机的功能",
        "operationId": "EntranceMachine_Send",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "设备机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "data",
            "in": "body",
            "description": "数据内容",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TimeoutDataSetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/EntranceMachine/Post": {
      "post": {
        "tags": [
          "EntranceMachine"
        ],
        "summary": "投递自定义数据到应用下的门口机\r\n但不等待门口机的回执\r\n此接口用于扩展开发门口机的功能",
        "operationId": "EntranceMachine_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "设备机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "data",
            "in": "body",
            "description": "数据内容",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StringData"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/EntranceMachine/PostBat": {
      "post": {
        "tags": [
          "EntranceMachine"
        ],
        "summary": "投递自定义数据到应用下的多个门口机\r\n但不等待门口机的回执\r\n此接口用于扩展开发门口机的功能",
        "operationId": "EntranceMachine_PostBat",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "description": "数据内容",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StringDataBat"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/EntranceMachine/PostBatWithoutValidation": {
      "post": {
        "tags": [
          "EntranceMachine"
        ],
        "summary": "投递自定义数据到应用下有效的多个门口机\r\n但不等待门口机的回执\r\n返回无效的机身号集合",
        "operationId": "EntranceMachine_PostBatWithoutValidation",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "description": "数据内容",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StringDataBat"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[String[]]"
            }
          }
        }
      }
    },
    "/v1/EntranceMachine/Unlock": {
      "post": {
        "tags": [
          "EntranceMachine"
        ],
        "summary": "门口机开锁\r\n当门口机5s内收到此请求，将进行开锁动作",
        "operationId": "EntranceMachine_Unlock",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "门口机机身号",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/EntranceMachine/UnlockEx": {
      "post": {
        "tags": [
          "EntranceMachine"
        ],
        "summary": "门口机开锁\r\n可附加自定义内容，超时时间可调整",
        "operationId": "EntranceMachine_UnlockEx",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "description": "门口机机身号",
            "required": true,
            "type": "string"
          },
          {
            "name": "data",
            "in": "body",
            "description": "控制参数",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TimeoutDataSetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/Intercom/GetAccount": {
      "get": {
        "tags": [
          "Intercom"
        ],
        "summary": "获取对讲账号的详细信息",
        "operationId": "Intercom_GetAccount",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "description": "对讲账号的Id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[IntercomAccount_Dto]"
            }
          }
        }
      }
    },
    "/v1/Intercom/CreateAccount": {
      "post": {
        "tags": [
          "Intercom"
        ],
        "summary": "创建对讲账号\r\n对讲账号在设备或手机初始化后，只要知道对方的对讲userId，就可以向对讲发起对讲请求\r\n智能家居设备无对讲功能，不需要为它的设备申请账号",
        "operationId": "Intercom_CreateAccount",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "description": "对讲账号的Id，数字、字母（区分大小写）组成，最长31位，开发者自定义，一个应用内需要唯一",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[IntercomAccount_Dto]"
            }
          }
        }
      }
    },
    "/v1/RemotePush/CreateAccount": {
      "post": {
        "tags": [
          "RemotePush"
        ],
        "summary": "创建远程终端的推送账号  \r\n终端通过账号与token进行登录",
        "operationId": "RemotePush_CreateAccount",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[PushAccount_Dto]"
            }
          }
        }
      }
    },
    "/v1/RemotePush/Send": {
      "post": {
        "tags": [
          "RemotePush"
        ],
        "summary": "发送自定义数据到应用下的远程终端\r\n并等待远程终端的回执",
        "operationId": "RemotePush_Send",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "终端推送id",
            "required": true,
            "type": "string"
          },
          {
            "name": "data",
            "in": "body",
            "description": "数据内容",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TimeoutDataSetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/RemotePush/Post": {
      "post": {
        "tags": [
          "RemotePush"
        ],
        "summary": "投递自定义数据到应用下的远程终端\r\n但不等待远程终端的回执",
        "operationId": "RemotePush_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "终端推送id",
            "required": true,
            "type": "string"
          },
          {
            "name": "data",
            "in": "body",
            "description": "数据内容",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StringData"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    },
    "/v1/RemotePush/PostBat": {
      "post": {
        "tags": [
          "RemotePush"
        ],
        "summary": "投递自定义数据到应用下的远程终端\r\n但不等待远程终端的回执",
        "operationId": "RemotePush_PostBat",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "description": "数据内容",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StringDataPushBat"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResult[Boolean]"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "StringData": {
      "description": "表示文本内容",
      "required": [
        "data"
      ],
      "type": "object",
      "properties": {
        "data": {
          "description": "数据内容",
          "type": "string"
        }
      }
    },
    "ApiResult[String]": {
      "description": "表示Api结果",
      "required": [
        "code",
        "msg",
        "data"
      ],
      "type": "object",
      "properties": {
        "code": {
          "format": "int32",
          "description": "错误码",
          "enum": [
            0,
            1,
            2,
            3,
            4,
            10,
            11,
            12,
            13
          ],
          "type": "integer"
        },
        "msg": {
          "description": "相关提示信息",
          "type": "string"
        },
        "data": {
          "description": "业务数据",
          "type": "string"
        }
      }
    },
    "SysCtrlSetting": {
      "description": "系统控制",
      "type": "object",
      "properties": {
        "timeout": {
          "format": "int32",
          "description": "超时的秒数\r\n如果设备在Timeout秒之后才收到数据则不处理",
          "type": "integer"
        },
        "ctrlCode": {
          "format": "int32",
          "description": "控制码",
          "enum": [
            1,
            2,
            3
          ],
          "type": "integer"
        }
      }
    },
    "ApiResult[Boolean]": {
      "description": "表示Api结果",
      "required": [
        "code",
        "msg",
        "data"
      ],
      "type": "object",
      "properties": {
        "code": {
          "format": "int32",
          "description": "错误码",
          "enum": [
            0,
            1,
            2,
            3,
            4,
            10,
            11,
            12,
            13
          ],
          "type": "integer"
        },
        "msg": {
          "description": "相关提示信息",
          "type": "string"
        },
        "data": {
          "description": "业务数据",
          "type": "boolean"
        }
      }
    },
    "ApiResult[DeviceInfo]": {
      "description": "表示Api结果",
      "required": [
        "code",
        "msg",
        "data"
      ],
      "type": "object",
      "properties": {
        "code": {
          "format": "int32",
          "description": "错误码",
          "enum": [
            0,
            1,
            2,
            3,
            4,
            10,
            11,
            12,
            13
          ],
          "type": "integer"
        },
        "msg": {
          "description": "相关提示信息",
          "type": "string"
        },
        "data": {
          "$ref": "#/definitions/DeviceInfo",
          "description": "业务数据"
        }
      }
    },
    "DeviceInfo": {
      "description": "设备信息",
      "required": [
        "apP_Id",
        "num",
        "code",
        "createTime"
      ],
      "type": "object",
      "properties": {
        "id": {
          "description": "ID",
          "maxLength": 50,
          "minLength": 0,
          "type": "string"
        },
        "apP_Id": {
          "description": "关联的应用ID",
          "maxLength": 50,
          "minLength": 0,
          "type": "string"
        },
        "num": {
          "description": "机身号",
          "maxLength": 50,
          "minLength": 0,
          "type": "string"
        },
        "code": {
          "description": "硬件码",
          "maxLength": 50,
          "minLength": 0,
          "type": "string"
        },
        "type": {
          "description": "设备类别，比如TC-U9D-H1",
          "maxLength": 50,
          "minLength": 0,
          "type": "string"
        },
        "shortType": {
          "description": "设备类别简写",
          "maxLength": 2,
          "minLength": 0,
          "type": "string"
        },
        "productType": {
          "format": "int32",
          "description": "设备所属的产品类型",
          "enum": [
            1,
            2,
            4,
            8
          ],
          "type": "integer"
        },
        "createTime": {
          "format": "date-time",
          "description": "创建时间",
          "type": "string"
        },
        "isOnline": {
          "description": "是否在线",
          "type": "boolean"
        },
        "ipAddress": {
          "description": "ip地址",
          "maxLength": 50,
          "minLength": 0,
          "type": "string"
        },
        "port": {
          "format": "int32",
          "description": "ip端口",
          "type": "integer"
        },
        "lastOnOffTime": {
          "format": "date-time",
          "description": "最近在线/离线时间",
          "type": "string"
        }
      }
    },
    "ApiResult[Page[DeviceInfo]]": {
      "description": "表示Api结果",
      "required": [
        "code",
        "msg",
        "data"
      ],
      "type": "object",
      "properties": {
        "code": {
          "format": "int32",
          "description": "错误码",
          "enum": [
            0,
            1,
            2,
            3,
            4,
            10,
            11,
            12,
            13
          ],
          "type": "integer"
        },
        "msg": {
          "description": "相关提示信息",
          "type": "string"
        },
        "data": {
          "$ref": "#/definitions/Page[DeviceInfo]",
          "description": "业务数据"
        }
      }
    },
    "Page[DeviceInfo]": {
      "description": "表示分页内容",
      "required": [
        "total",
        "pageIndex",
        "pageSize",
        "dataArray"
      ],
      "type": "object",
      "properties": {
        "total": {
          "format": "int32",
          "description": "全部记录条数",
          "type": "integer"
        },
        "pageIndex": {
          "format": "int32",
          "description": "页面索引，0开始",
          "type": "integer"
        },
        "pageSize": {
          "format": "int32",
          "description": "页面记录大小",
          "type": "integer"
        },
        "dataArray": {
          "description": "数据集合",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DeviceInfo"
          }
        }
      }
    },
    "Message[TimeoutRequest]": {
      "description": "表示MQTT的消息",
      "type": "object",
      "properties": {
        "api": {
          "format": "int32",
          "description": "Api",
          "enum": [
            1,
            2,
            3,
            100,
            101,
            1000,
            2000,
            2001,
            2002,
            2003,
            2007,
            2008,
            2009,
            3002,
            3007,
            3008,
            3009,
            3010,
            3011,
            3012,
            3013,
            3014,
            3015,
            3016,
            3017,
            3018,
            3019,
            3020,
            3022,
            3023,
            3024,
            3025,
            3026,
            3027,
            3028,
            3029,
            3031,
            3100,
            3101,
            3102,
            3103,
            3104,
            3105,
            3106,
            3107,
            3108,
            3109,
            3110,
            3111,
            3112,
            3113,
            3114,
            3115,
            3116,
            3117,
            3118,
            3119,
            3120,
            3121,
            3122,
            3123,
            3124,
            3125,
            3126,
            3127,
            3128,
            3129,
            3130,
            3131,
            3132,
            3133,
            3134,
            3135,
            3136,
            3137,
            3138,
            3139,
            3140,
            4000,
            4001
          ],
          "type": "integer"
        },
        "time": {
          "format": "int32",
          "description": "时间unix时间戳(s)",
          "type": "integer"
        },
        "mode": {
          "format": "int32",
          "description": "模式",
          "enum": [
            1,
            2,
            4
          ],
          "type": "integer"
        },
        "id": {
          "format": "int32",
          "description": "消息的唯一标识符",
          "type": "integer"
        },
        "body": {
          "$ref": "#/definitions/TimeoutRequest",
          "description": "内容体"
        }
      }
    },
    "TimeoutRequest": {
      "description": "表示超时的Body",
      "type": "object",
      "properties": {
        "timeout": {
          "format": "int32",
          "description": "超时的秒数\r\n如果在Timeout秒之后才收到数据则不处理",
          "type": "integer"
        }
      }
    },
    "Message[CMDeivceData]": {
      "description": "表示MQTT的消息",
      "type": "object",
      "properties": {
        "api": {
          "format": "int32",
          "description": "Api",
          "enum": [
            1,
            2,
            3,
            100,
            101,
            1000,
            2000,
            2001,
            2002,
            2003,
            2007,
            2008,
            2009,
            3002,
            3007,
            3008,
            3009,
            3010,
            3011,
            3012,
            3013,
            3014,
            3015,
            3016,
            3017,
            3018,
            3019,
            3020,
            3022,
            3023,
            3024,
            3025,
            3026,
            3027,
            3028,
            3029,
            3031,
[...]
